{% if isRoot %}
    <div class="cr-layout">{{{contents}}}</div>
{% endif %}
{% if isRow-full %}
    <div class="cr-layout__row cr-layout__row--full">{{{contents}}}</div>
{% endif %}
{% if isRow-100 %}
    <div class="cr-layout__row cr-layout__row--100">{{{contents}}}</div>
{% endif %}
{% if isRow-50-50 %}
    <div class="cr-layout__row cr-layout__row--50-50">{{{contents}}}</div>
{% endif %}
{% if isRow-66-33 %}
    <div class="cr-layout__row cr-layout__row--66-33">{{{contents}}}</div>
{% endif %}
{% if isRow-33-66 %}
    <div class="cr-layout__row cr-layout__row--33-66">{{{contents}}}</div>
{% endif %}
{% if isRow-33-33-33 %}
    <div class="cr-layout__row cr-layout__row--33-33-33">{{{contents}}}</div>
{% endif %}
{% if isRow-25-50-25 %}
    <div class="cr-layout__row cr-layout__row--25-50-25">{{{contents}}}</div>
{% endif %}
{% if isRow-25-25-25-25 %}
    <div class="cr-layout__row cr-layout__row--25-25-25-25">{{{contents}}}</div>
{% endif %}
{% if isCell %}
    <div class="cr-layout__cell">{{{contents}}}</div>
{% endif %}
